.formInput {
  display: flex;
  flex-direction: column;
}

.formInput input {
  max-width: 250px;
}

.cvForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 275px;
  margin: 10px;
}

fieldset {
  padding: 10px;
}